# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.sqlite3-journal
/media
/staticfiles

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
